svg(xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500")
  - for (let i = 1; i <= 4; i++)
    - const cx = i * 100
    - const cy = i * 100
    circle(cx=cx cy=cy r="50" fill="blue")
